/_site
/.ssl
/node_modules
/test-results
/.mcp_data
/.jekyll-cache
/.jekyll-metadata
/.sass-cache
.DS_Store
**/.DS_Store
/.claude
/.claude
.claude/settings.json
/.claude
/.playwright-mcp
/test-results
